/* Light theme brand colors */
.root {
    /* Primary */
    primaryColor: #6200EE; /* design_default_color_primary */
    primaryColorDark: #3700B3; /* design_default_color_primary_dark */
    onPrimary: #FFFFFF; /* design_default_color_on_primary */

    /* Secondary */
    secondaryColor: #03DAC6; /* design_default_color_secondary */
    onSecondary: #000000; /* design_default_color_on_secondary */

    /* Light theme neutral colors */
    background: #FFFFFF; /* design_default_color_background */
    onBackground: #000000; /* design_default_color_on_background */
    surface: #FFFFFF; /* design_default_color_surface */
    onSurface: #000000; /* design_default_color_on_surface */
    error: #B00020; /* design_default_color_error */
    onError: #FFFFFF; /* design_default_color_on_error */
}